<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:47:40</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/01/01 20:47:41</td>   <td>614</td> <td>&nbsp;</td><td title="&gt;&gt;FlipkartTestcase_01.setData()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:47:41</td>   <td>618</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:47:42</td>   <td>1314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/01/01 20:49:28</td>   <td>107368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FlipkartTestcase_01.verifyflipkart(java.lang.String)[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">verifyflipkart</td> 
  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:49:47</td>   <td>126582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:49:50</td>   <td>129363</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/01/01 20:49:51</td>   <td>130701</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.FlipkartTestcase_01@60c6f5b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709366259</td>   <td></td> </tr>
</table>
